@page
@using Microsoft.Extensions.Localization
@using KeyFactor.Carbone.Configuration.Localization
@model KeyFactor.Carbone.Configuration.Web.Pages.Configuration.IndexModel
@inject IStringLocalizer<ConfigurationResource> L
@{
}
<h1>Configuration</h1>
<p>@L["SamplePageMessage"]</p>
