@page
@using KeyFactor.Carbone.Configuration.Localization
@using Microsoft.Extensions.Localization
@model KeyFactor.Carbone.Configuration.Web.Pages.Products.CreateProductPropertyModel
@inject IStringLocalizer<ConfigurationResource> L
@{
    Layout = "_Layout";
}
@section Scripts
{
}

<form method="post" id="mainForm">
  
</form>