@page
@using KeyFactor.Carbone.Configuration.Localization
@using Microsoft.Extensions.Localization
@model KeyFactor.Carbone.Configuration.Web.Pages.Configuration.Products.EditProductModel
@inject IStringLocalizer<ConfigurationResource> L
@{
    Layout = "_Layout";

}
@section scripts
{
    <script type="text/javascript" src="~/Pages/Products/FormProduct.js"></script>
}
<form method="post" id="mainForm">
    <input type="hidden" asp-for="@Model.Id" />
    @await Html.PartialAsync("_Product", Model.Input);
    <abp-input asp-for="@Model.ValidFromDateHidden" />
    <abp-input asp-for="@Model.ValidToDateHidden" />

</form>
