@page
@using KeyFactor.Carbone.Configuration.Localization
@using Microsoft.Extensions.Localization
@model KeyFactor.Carbone.Configuration.Web.Pages.Units.CreateUnitModel
@inject IStringLocalizer<ConfigurationResource> L
@{
    Layout = "_Layout";
}
@section Scripts
{
}
<form method="post" id="mainForm">
    <abp-card-body>
        <abp-row>
            <abp-column size-md="_12">
                <abp-tabs>
                    <abp-tab title="Details">
                        <abp-row>
                            <abp-column size-md="_6">
                                <abp-input asp-for="@Model.Input.Name" />
                            </abp-column>
                        </abp-row>
                    </abp-tab>
                </abp-tabs>
            </abp-column>
        </abp-row>
    </abp-card-body>
</form>